<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student qo'shish</title>
</head>
<body>
<form  method="post">
    <label>Ism:</label>
    <input type="text" name="ism" value="{{ talaba.ism }}">
    <br> <br>
    <label>Guruh: </label>
    <input type="text" name="ism" value="{{ talaba.gurh }}">
    <br> <br>
    <label>Kurs: </label>
    <input type="number" name="kurs" value="{{ talaba.kurs }}">
    <br> <br>
    <label>Kiotb soni: </label>
    <input type="text" name="kitob_soni" value="{{ talaba.kitob_soni }}">
    <br>
    <button>Qo'shish</button>
</form>

</body>
</html>