<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<h2>Student list</h2>
<form>
    <label>Search: </label>
    <input type="text" name="search" placeholder="search....">
    <label>1-kurs</label>
    <input type="checkbox" checked name="kurs1">
    <label>2-kurs</label>
    <input type="checkbox" checked name="kurs2">
    <label>3-kurs</label>
    <input type="checkbox" checked name="kurs3">
    <label>4-kurs</label>
    <input type="checkbox" checked name="kurs4">
    <button>Submit</button>
</form>

{% for student in students %}
<p>{{ forloop.counter }}. <a href="/students/{{ student.id }}/">{{ student.ism }}</a></p>
<button><a href="/students/{{ student.id }}/tahrirlash/">Tahrirlash</a> </button>
{% endfor %}

<br> <br>

<button><a href="/student_q/">Student qo'shish</a></button>

</body>
</html>